html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: normal;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
p {
    margin: 0;
}

svg,
img {
    max-width: 100%;
}

.main_container { 
    padding-left: 32px;
    padding-right: 32px;
}

.page_paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: .83;
}

@media(min-width: 1114px) {
    .main_container, 
    .footer_container {
        max-width: 1114px;
        margin-left: auto;
        margin-right: auto;
    }
}