html,
body,
a {
  font-family: 'Open Sans', sans-serif;
  font-size: normal;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  background-color: #181f2a;
  color: white; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

h1, h2 {
  font-family: 'Raleway', sans-serif; }

h1,
h2,
p {
  margin: 0; }

svg,
img {
  max-width: 100%; }

.main_container {
  padding-left: 32px;
  padding-right: 32px; }

.page_paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  opacity: .83; }

@media (min-width: 1114px) {
  .main_container,
  .footer_container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto; } }

header .header_container {
  padding: 32px; }

header .header_heading {
  max-width: max-content; }

header .logo img {
  width: 70%;
  margin-top: 8px; }

header .header_container, header .header_nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

header .header_nav {
  flex-basis: 50%; }
  header .header_nav .header_link {
    color: white;
    opacity: .5; }
  header .header_nav .header_link:hover {
    text-decoration: underline;
    opacity: 1; }

@media (min-width: 1114px) {
  header .header_container {
    padding: 48px; }
  header .header_nav {
    flex-basis: 30%; } }

.features_section .features_section__article:not(:last-of-type) {
  text-align: center;
  padding-bottom: 120px; }

.features_section .features_section__heading {
  line-height: 35px;
  padding-top: 32px;
  padding-bottom: 32px; }

@media (min-width: 500px) {
  .features_section .illustration_article .image_container img {
    max-width: 85%; } }

.features_section .text_container {
  padding-top: 16px; }

.features_section .features_section__article:not(:nth-of-type(1)) .features_section__heading {
  font-size: 22px; }

.features_section .features_section__article:last-of-type {
  padding-top: 100px;
  padding-bottom: 200px; }
  @media (min-width: 500px) {
    .features_section .features_section__article:last-of-type .image_container img {
      max-width: 85%; } }
  .features_section .features_section__article:last-of-type .features_section__paragraph {
    margin-bottom: 32px; }
  .features_section .features_section__article:last-of-type .see_howfyloworks {
    color: #65e2d9;
    text-decoration: underline; }

@media (min-width: 1114px) {
  .features_section .features_section__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "article1 article1" "article2 article3" "article4 article5" "article6 article6";
    column-gap: 10%; }
  .features_section article:nth-of-type(1) {
    grid-area: article1; }
  .features_section article:nth-of-type(2) {
    grid-area: article2; }
  .features_section article:nth-of-type(3) {
    grid-area: article3; }
  .features_section article:nth-of-type(4) {
    grid-area: article4; }
  .features_section article:nth-of-type(5) {
    grid-area: article5; }
  .features_section article:nth-of-type(6) {
    grid-area: article6;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .features_section article:nth-of-type(6) .image_container {
      flex-basis: 75%; }
  .features_section .features_section__article:last-of-type {
    padding-bottom: 100px; }
  .features_section .illustration_article {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .features_section .illustration_article .image_container,
    .features_section .illustration_article .text_container,
    .features_section .illustration_article .button_container {
      max-width: 600px; }
    .features_section .illustration_article .text_container {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .features_section .illustration_article .image_container img {
      max-width: 100%; }
    .features_section .illustration_article .features_section__paragraph {
      max-width: 500px; }
    .features_section .illustration_article .start_btn {
      padding: 16px 100px 16px 100px; } }

.start_btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 40px;
  padding: 16px 65px 16px 65px;
  color: white;
  background: linear-gradient(138.1deg, #63e1d9 -49.34%, #34a0cd 100%);
  border-color: transparent;
  outline: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px; }

.team_section {
  padding-left: 16px;
  padding-right: 16px; }
  .team_section .team_section__article {
    margin-bottom: 32px;
    padding: 16px;
    background-color: #202a3c;
    border-radius: 5px; }
    .team_section .team_section__article .profile_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-content: unset;
      flex-wrap: wrap;
      column-gap: 16px;
      margin-top: 32px; }
      .team_section .team_section__article .profile_container img {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
      .team_section .team_section__article .profile_container strong,
      .team_section .team_section__article .profile_container span {
        display: block; }
      .team_section .team_section__article .profile_container span.team_about {
        line-height: 32px; }
  @media (min-width: 1114px) {
    .team_section .team_section__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 32px; }
      .team_section .team_section__container .team_section__article {
        padding-top: 32px; } }

.signIn_section {
  background-color: #202a3c;
  margin-top: 150px;
  padding: 16px;
  padding-top: 40px;
  padding-bottom: 32px;
  border-radius: 5px; }
  .signIn_section .signIn_section__heading {
    margin-bottom: 32px; }
  .signIn_section .singIn_form label, .signIn_section .singIn_form .button_container {
    display: flex;
    flex-direction: column; }
  .signIn_section .singIn_form input {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 40px;
    padding: 18px 32px 18px 32px;
    border-color: transparent;
    outline: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px; }
  @media (min-width: 1114px) {
    .signIn_section {
      max-width: 800px;
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 60px;
      padding-right: 60px;
      transform: translateY(128px);
      -webkit-transform: translateY(128px);
      -moz-transform: translateY(128px);
      -ms-transform: translateY(128px);
      -o-transform: translateY(128px); }
      .signIn_section .signIn_section__container {
        text-align: center; }
      .signIn_section .singIn_form {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .signIn_section .singIn_form label {
          flex-basis: 65%; }
        .signIn_section .singIn_form .start_btn {
          padding: 16px 32px 16px 32px; } }

footer {
  background-color: #0b1523; }
  footer .footer_container {
    padding: 100px 32px 32px 32px; }
  footer .footer_heading {
    margin-bottom: 40px; }
  footer .footer_article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 32px; }
    footer .footer_article .image_container {
      margin-top: 4px; }
    footer .footer_article .footer_photograph {
      flex-basis: 90%; }
  footer .phone_contact {
    margin-top: 32px;
    margin-bottom: 32px; }
    footer .phone_contact svg {
      margin-right: 16px; }
  footer .email_contact svg {
    margin-right: 16px; }
  footer .footer_nav {
    margin-top: 80px; }
  footer .social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .social_media li {
      margin-left: 16px; }
  footer .fab.fa-facebook {
    width: 50px;
    display: block; }
  footer .fa-twitter-square:before {
    content: "\f081"; }
  footer .fa-instagram-square:before {
    content: "\e055"; }
  footer .footer_list {
    margin-bottom: 16px; }
    footer .footer_list a {
      color: white; }
  footer .footer_nav__list:last-of-type {
    margin-top: 50px; }
  @media (min-width: 1114px) {
    footer .footer_container {
      padding-top: 250px;
      padding-bottom: 66px; }
    footer .contents_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    footer .footer_article {
      max-width: 350px; }
    footer .phone_contact {
      margin-top: 0; }
    footer .footer_nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 200px;
      margin-top: 0; }
    footer .footer_nav__list,
    footer .footer_nav__list:last-of-type {
      margin-top: 0; } }
